#cont{
    height: 600px;
    width: 90%;
    border: 1px solid rgb(129, 129, 218);
  margin: auto;
    
  }
  
  
  #navbar {
       width: 95%;
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      border: 1px solid rgb(37, 37, 37);
      padding: 10px;
      margin-top: 3%;
      text-align: center;
      margin-left: 2%;
    
    }
  
    a {
      text-decoration: none;
    }
    #navbar a:hover {
      color: rgb(15, 15, 15);
    }
    #navbar a {
      cursor: pointer;
    }
    img{
      padding-top: 7%;
      padding-left: 14%;
       width: 65%;
       height: 500px;
    }